In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/bryanleavelle/Bootcamp/Immersion/ch 4/DD-MM-2020 Instacart Basket Analysis'

In [9]:
df_merged_large = pd.read_pickle (os.path.join(path, 'Data', 'Prepared Data', 'df_merged_large.pkl'))

In [21]:
df_prods = pd.read_csv (os.path.join(path, 'Data', 'Prepared Data', 'products_checked'))

----- Question 1-----

In [34]:
#check shape of new df

df_merged_large.shape

(32434489, 9)

looks good!

----- Question 2------ <br>
Find a suitable way to merge

In [35]:
#check column names in both using for loop

for col in df_merged_large:
    print(col)

order_id
user_id
order_number
order_day_of_week
hour_of_order
days_since_prior_order
product_id
add_to_cart_order
reordered

In [36]:
for col in df_prods:
    print(col)

product_id
product_name
aisle_id
department_id
prices

Both DF have column name "product_id". Lets use that!

In [38]:
#merge data frames

order_products_combined = df_merged_large.merge(df_prods, on = 'product_id', indicator = True)

In [39]:
order_products_combined

,order_id,user_id,order_number,order_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404855,31526,202557,18,5,11,3.0,43553,2,1,Orange Energy Shots,64,7,3.7,both
32404856,758936,203436,1,2,7,NaN,42338,4,0,"Zucchini Chips, Pesto",50,19,6.9,both
32404857,2745165,203436,2,3,5,15.0,42338,16,1,"Zucchini Chips, Pesto",50,19,6.9,both
32404858,3093936,205420,1,4,14,NaN,28818,8,0,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

----- Question 3 ------

In [41]:
#merge check

order_products_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

compare with an outer join

In [43]:
#new outer join of same two tables

order_products_combined_outer = df_merged_large.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [44]:
order_products_combined_outer['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

So, our new table excludes 30211 entries

----- Question 4 -----
<br> export data

In [45]:
order_products_combined.to_pickle(os.path.join(path, 'Data', 'Prepared Data','order_products_combined.pkl' ))